DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rustkorea"
NEXT_PUBLIC_PLATFORM_DOMAIN="rustkorea.cloud"
SESSION_SECRET="change-me-32-chars-min"
NEXT_PUBLIC_ASSET_PREFIX=""
API_INTERNAL_URL="http://127.0.0.1:4501"
ALLOW_LOCAL_APPS="true"
NEXT_PUBLIC_ADMIN_URL="/admin"
ADMIN_INTERNAL_URL="http://127.0.0.1:4502"
